<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.map.mapper.ImagePuancuationInformationMapper">
    <resultMap type="TImagePuancuationInformationPo" id="TImagePuancuationInformationResult">
        <result property="id" column="id"/>
        <result property="imageName" column="image_name"/>
        <result property="imageUrl" column="image_url"/>
        <result property="imageWidth" column="image_width"/>
        <result property="imageHeigth" column="image_heigth"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <resultMap type="ImagePuancuationInformationDto" id="ImagePuancuationInformationDtoResult">
        <result property="id" column="id"/>
        <result property="imageName" column="image_name"/>
        <result property="imageUrl" column="image_url"/>
        <result property="imageWidth" column="image_width"/>
        <result property="imageHeigth" column="image_heigth"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <collection property="tPunctuationInformationPoList" resultMap="TPunctuationInformationResult" ofType="TPunctuationInformationPo"/>
    </resultMap>

    <resultMap type="TPunctuationInformationPo" id="TPunctuationInformationResult">
        <result property="id" column="id"/>
        <result property="imageId" column="image_id"/>
        <result property="relativeToPictureX" column="relative_to_picture_X"/>
        <result property="relativeToPictureY" column="relative_to_picture_Y"/>
        <result property="signWidth" column="sign_width"/>
        <result property="signHeight" column="sign_height"/>
        <result property="punctuationElement" column="punctuation_element"/>
        <result property="signContent" column="sign_content"/>
        <result property="signShape" column="sign_shape"/>
        <result property="signColor" column="sign_color"/>
        <result property="state" column="state"/>
    </resultMap>

    <select id="queryImageAndSgin" resultMap="ImagePuancuationInformationDtoResult">
        select
            tipi.id,
            tipi.image_name,
            tipi.image_url,
            tipi.image_width,
            tipi.image_heigth,
            tpi.id,
            tpi.image_id,
            tpi.relative_to_picture_X,
            tpi.relative_to_picture_Y,
            tpi.sign_width,
            tpi.sign_height,
            tpi.sign_content,
            tpi.sign_shape,
            tpi.sign_color
        from t_image_puancuation_information as tipi
                 left join t_punctuation_information tpi on tipi.id = tpi.image_id
        where tipi.create_by = #{userId}
          and tpi.state = 0
        order by tpi.sort
    </select>

    <insert id="insertTImagePuancuationInformation" parameterType="TImagePuancuationInformationPo">
        insert into t_image_puancuation_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="imageName != null">image_name,</if>
            <if test="imageUrl != null and imageUrl != ''">image_url,</if>
            <if test="imageWidth != null">image_width,</if>
            <if test="imageHeigth != null">image_heigth,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="imageName != null">#{imageName},</if>
            <if test="imageUrl != null and imageUrl != ''">#{imageUrl},</if>
            <if test="imageWidth != null">#{imageWidth},</if>
            <if test="imageHeigth != null">#{imageHeigth},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateTImagePuancuationInformation" parameterType="TImagePuancuationInformationPo">
        update t_image_puancuation_information
        <trim prefix="SET" suffixOverrides=",">
            <if test="imageName != null">image_name = #{imageName},</if>
            <if test="imageUrl != null and imageUrl != ''">image_url = #{imageUrl},</if>
            <if test="imageWidth != null">image_width = #{imageWidth},</if>
            <if test="imageHeigth != null">image_heigth = #{imageHeigth},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteImage" parameterType="String">
        delete
        from t_image_puancuation_information
        where id = #{id}
    </delete>

</mapper>